@page "/"
@using Lunatic.UI.Contracts
@using Microsoft.AspNetCore.Components.Authorization
@using Lunatic.UI.ViewModels
@inject ITokenService TokenService
@inject NavigationManager NavigationManager
@inject IUserDataService UserDataService
@inject IDataService DataService
@inject IBookDataService BookDataService
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css\home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">


   </head>
<PageTitle>Home</PageTitle>
<body>
<div class="home-page">
    <div class="header">
        <h1>Welcome!</h1>
        <div class="date">@currentDate</div>
    </div>

    <div class="notifications-section">
        <button class="notifications-button" @onclick="ToggleFriendRequests">
            <i class="fas fa-bell"></i> (@FriendRequests.Count)
        </button>
        <div class="friend-requests" style="display: @(showFriendRequests ? "block" : "none")">
            @if (isLoading)
            {
                <p><em>Loading...</em></p>
            }
            else if (!FriendRequests.Any())
            {
                <p>No friend requests.</p>
            }
            else
            {
                <div class="friend-requests-list">
                    @foreach (var request in FriendRequests)
                    {
                        <div class="friend-request-item">
                            <p><strong>@FriendRequestSenders[request.SenderId]</strong> wants to be your friend!</p>
                            <button class="btn btn-primary" @onclick="() => AcceptFriendRequest(request.FriendRequestId)">
                                <i class="fas fa-check"></i> Accept
                            </button>
                            <button class="btn btn-secondary" @onclick="() => DeclineFriendRequest(request.FriendRequestId)">
                                <i class="fas fa-times"></i> Decline
                            </button>
                        </div>
                    }
                        @if (!FriendRecommandations.Any())
                        {
                            <p>No Friend Recommandations.</p>
                        }
                        else
                        {
                            @foreach (var request in FriendRecommandations)
                            {
                                <div class="friend-request-item">
                                    <p><strong>@FriendRecommandationSenders[request.SenderId]</strong> has recommended you a book!</p>
                            <p><strong>Book Title:</strong> @request.BookId</p>
                           
                        </div>
                    }}
                </div>
            }
        </div>
    </div>

    <div class="quote-section">
        <div class="quote-container">
            <blockquote>"Be yourself; everyone else is already taken." - Oscar Wilde</blockquote>
        </div>
    </div>

    <div class="for-you-section">
        <h2>For You</h2>
        <div class="books-container">
            @if (RecommendedBooks == null)
            {
                <p><em>Loading...</em></p>
            }
            else if (!RecommendedBooks.Any())
            {
                <p>No books available.</p>
            }
            else
            {
                @foreach (var book in RecommendedBooks.Take(3))
                {
                    <div class="book-card">
                        <img src="@book.Cover" alt="@book.Title" class="book-cover" />
                        <div class="book-details">
                            <h5>@book.Title</h5>
                            <p>@book.Author</p>
                            <p>@book.Genres</p>
                            <button class="btn btn-primary" @onclick="() => NavigateToBook(book.BookId)">Details</button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <div class="for-you-section">
        <h2>Popular Now</h2>
        <div class="books-container">
            @if (PopularBooks == null)
            {
                <p><em>Loading...</em></p>
            }
            else if (!PopularBooks.Any() || PopularBooks.Count < 3)
            {
                <p>No books available.</p>
            }
            else
            {
                @foreach (var book in PopularBooks.Take(3))
                {
                    <div class="book-card">
                        <img src="@book.Cover" alt="@book.Title" class="book-cover" />
                        <div class="book-details">
                            <h5>@book.Title</h5>
                            <p>@book.Author</p>
                            <p>@book.Genres</p>
                            <button class="btn btn-primary" @onclick="() => NavigateToBook(book.BookId)">
                                <i class="fas fa-info-circle"></i> Details
                            </button>
                        </div>
                    </div>
                }
            }

        </div>
    </div>


</div>
</body>
@code {
    private bool showFriendRequests = false;
    private bool isLoading = false;
    private DateTime currentDate = DateTime.Now;
    private List<BookViewModel> RecommendedBooks { get; set; } = new();
    private Dictionary<Guid, string> FriendRequestSenders { get; set; } = new();
    private List<FriendRequestViewModel> FriendRequests { get; set; } = new();
    private List<FriendRecommandationViewModel> FriendRecommandations { get; set; } = new();
    private Dictionary<Guid, string> FriendRecommandationSenders { get; set; } = new();

    public List<BookViewModel> PopularBooks { get; set; } = new();
    public List<BookViewModel> Books { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        isLoading = true;
        try
        {
            var userId = await DataService.GetItemAsync<Guid>("UserId");
            var token = await TokenService.GetTokenAsync();

            if (string.IsNullOrEmpty(token) || userId == Guid.Empty)
            {
                NavigationManager.NavigateTo("/login", forceLoad: true);
                return;
            }

            FriendRequests = (await UserDataService.GetFriendRequestsByUserIdAsync(userId)).ToList();
            FriendRecommandations = await UserDataService.GetFriendRecommandationByUserIdAsync(userId);
            
            Console.WriteLine("FriendRecommandation: " + FriendRecommandations.Count);

           foreach (var request in FriendRequests)
            {
                var senderProfile = await UserDataService.GetUserByIdAsync(request.SenderId);
                if (senderProfile != null)
                {
                    FriendRequestSenders[request.SenderId] = senderProfile.Username;
                }
            }


           foreach (var request in FriendRecommandations)
            {
                var senderProfile = await UserDataService.GetUserByIdAsync(request.SenderId);
                Console.WriteLine($"senderProfile:  {request.SenderId}");
                if (senderProfile != null)
                {
                    FriendRecommandationSenders[request.SenderId] = senderProfile.Username;
                }
            }


            PopularBooks = await BookDataService.GetPopularBooksAsync();
            foreach (var book in PopularBooks)
            {
                Console.WriteLine("book title: " + book.Title);
            }
            Console.WriteLine("Popular Books: " + PopularBooks.Count);
            RecommendedBooks = (await BookDataService.GetBooksAsync()).ToList();
            Books = (await BookDataService.GetBooksAsync()).ToList();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading data: {ex.Message}");
        }
        finally
        {
            isLoading = false;
        }
    }

    private void ToggleFriendRequests()
    {
        showFriendRequests = !showFriendRequests;
    }

    private async Task AcceptFriendRequest(Guid requestId)
    {
        var response = await UserDataService.DeleteFriendRequestAsync(requestId, true);
        if (response.Success)
        {
            FriendRequests.RemoveAll(r => r.FriendRequestId == requestId);
            StateHasChanged();
        }
        else
        {
            Console.WriteLine("Failed to accept friend request: " + response.Message);
        }
    }

    private async Task DeclineFriendRequest(Guid requestId)
    {
        var response = await UserDataService.DeleteFriendRequestAsync(requestId, false);
        if (response.Success)
        {
            FriendRequests.RemoveAll(r => r.FriendRequestId == requestId);
            StateHasChanged();
        }
        else
        {
            Console.WriteLine("Failed to decline friend request: " + response.Message);
        }
    }
    private void NavigateToBook(Guid bookId)
    {
        NavigationManager.NavigateTo($"/book/{bookId}");
    }
}
